<div class="max-width-1170">
    <button {{action 'prev'}}>Prev</button>
    {{full-calendar
    events=events
    allDaySlot=false
    eventLimit=3
    eventRender=eventRender
    register-as='accessToFullCalendar'
    nowIndicator=true}}
</div>
